<head>
  <title>MeteorProject</title>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    
</head>

<body>
	<div class="container">
	  <h1>Welcome to Meteor!</h1>
    {{> loginButtons}}
	</div>
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="playlists">
  <div class="container">
   <h2>Playlists</h2>
    <ul>
    {{#if currentUser}}
       {{#each playlistNames}}
        <li><a href="/onePlaylist/{{_id._str}}">{{name}}</a></li>
       {{/each}}
    {{else}}
       Empty
    {{/if}}
    </ul>
  </div>
</template>

<template name="onePlaylist">
<div class="container">
  <div class="row">
    <div class="col-md-8">
    <h2>{{playlistName}}</h2>
    </div>
    <div class="col-md-4">
     <form id="searchForm">
       <input id="inputSearch" type="text" />
       <button type="submit">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
     </form>
    </div>
  </div>

  <ul>
	{{#if found}}
		{{> oneSong foundSong}}
	{{else}}
	   {{#each playlistSongs}}
		{{> oneSong }} 
	   {{/each}}
	{{/if}}
  </ul>
  {{> addSong listId=playlistID}}
  </div>
</template>

<template name="oneSong">
  <li>
	<table>
	<col width="250">
		<tr>
			<td><b>{{title}}</b> - {{singerName}}</td>
			<td><a><span id={{_id}} name={{listId}} class="remove-icon glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
		</tr>
	</table>
  </li>
</template>

<template name="addSong">

<button name={{listId}} class="btn btn-success" data-toggle="modal" data-target="#addModal">+Add</button>

  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add New Song</h4>
        </div>
        <form id="addForm">
          <div class="modal-body">
            <div class="input-group">
          <input id="inputSong" type="text" class="form-control" placeholder="Song Name" required="true">
        </div>
        <div class="input-group">
          <input id="inputSinger" type="text" class="form-control" placeholder="Singer Name" required="true">
        </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="btnSbt" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
